// This file reserves resources based on the assumption you'll set the ESSENTIAL_THREADS variable to use 4 threads
executor="slurm"
queue="short"
commands {
    FastQC {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    FastqScreen {
        walltime="02:00:00"
        procs="4"
        memory="3"
    }
    STAR_Fusion {
        walltime="02:00:00"
        procs="4"
        memory="32"
    }
    STAR_se {
        walltime="04:00:00"
        procs="4"
        memory="32"
    }
    filterForPrimary {
        walltime="04:00:00"
        procs="4"
        memory="4"
    }
    BAMindexer {
        walltime="01:00:00"
        procs="1"
        memory="1"
    }
    htseq_count {
        walltime="04:00:00"
        procs="1"
        memory="1"
    }
    subread_count {
        walltime="00:30:00"
        procs="4"
        memory="2"
    }
    bamCoverage {
        walltime="03:00:00"
        procs="4"
        memory="8"
    }
    ensembl2ucsc {
        walltime="03:00:00"
        procs="4"
        memory="8"
    }
    MarkDups {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    MarkDups2 {
        walltime="04:00:00"
        procs="1"
        memory="2"
    }
    InsertSize {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    dupRadar {
        walltime="02:00:00"
        procs="4"
        memory="1"
    }
    geneBodyCov {
        walltime="05:00:00"
        procs="1"
        memory="4"
    }
    inferexperiment {
        walltime="02:00:00"
        procs="1"
        memory="4"
    }
    qualimap {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    RNAtypes {
        walltime="01:00:00"
        procs="4"
        memory="16"
    }
    rnatypes {
        walltime="00:10:00"
        procs="4"
        memory="2"
    }
    geneBodyCov2 {
        walltime="01:00:00"
        procs="4"
        memory="8"
    }
    DE_edgeR {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    DE_DESeq2 {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    DE_DESeq2_MM {
        walltime="01:00:00"
        procs="1"
        memory="3"
    }
    GO_Enrichment {
        walltime="01:00:00"
        procs="4"
        memory="2"
    }
    assignGeneNames {
        walltime="01:00:00"
        procs="1"
        memory="1"
    }
    collectBpipeLogs {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    strandBigWig {
        walltime="03:00:00"
        procs="4"
        memory="2"
    }
}
