//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="slurm"
queue="short"
commands {
    FastQC {
	        walltime="02:00:00"
                procs="1"
                memory="2" 
    }
    FastqScreen {
	        walltime="02:00:00"
                procs="4"
		memory="3"
    }
    STAR_se {
		walltime="04:00:00"
                procs="4"
                options="--mem-per-cpu=10000"
    }
    filterForPrimary {
		walltime="04:00:00"
                procs="4"
                options="--mem-per-cpu=1000"
    }
    BAMindexer {
	        walltime="01:00:00"
                procs="1"
                memory="1"
    }
    htseq_count {
		walltime="04:00:00"
                procs="4"
                options="--mem-per-cpu=4000" 
    }
    subread_count {
		walltime="00:30:00"
                procs="4"
                options="--mem-per-cpu=300" 
    }
    bamCoverage {
		walltime="03:00:00"
                procs="4"
                options="--mem-per-cpu=2000" 
    }
    ensembl2ucsc {
		walltime="03:00:00"
                procs="4"
                options="--mem-per-cpu=2000" 
    }
    MarkDups {
	        walltime="04:00:00"
                procs="1"
                memory="5" 
    }
    MarkDups2 {
	        walltime="04:00:00"
                procs="1"
                memory="2" 
    }
    InsertSize {
		walltime="04:00:00"
                procs="1"
                memory="10" 
    }
    dupRadar {
	        walltime="02:00:00"
                procs="4"
                options="--mem-per-cpu=1000"
    }
    geneBodyCov {
		walltime="05:00:00"
                procs="1"
		memory="4" 
    }
    inferexperiment {
		walltime="02:00:00"
                procs="1"
                memeory="4" 
    }
    qualimap {
	        walltime="04:00:00"
                procs="1"
                memory="10"   
    }
    RNAtypes {
		walltime="01:00:00"
                procs="4"
                options="--mem-per-cpu=2000" 
    }
    rnatypes {
		walltime="00:10:00"
                procs="4"
                options="--mem-per-cpu=2000" 
    }
    geneBodyCov2 {
		walltime="01:00:00"
                procs="4"
                options="--mem-per-cpu=2000" 
    }
    DE_edgeR {
	        walltime="01:00:00"
                procs="1"
                memory="6" 
    }
    DE_DESeq2 {
		walltime="01:00:00"
                procs="1"
                memory="3" 
    }
    GO_Enrichment {
		walltime="01:00:00"
                procs="1"
                options="--mem-per-cpu=1000" 
    }
    assignGeneNames {
		walltime="01:00:00"
                procs="1"
                memory="1" 
    }
    collectBpipeLogs {
		walltime="00:05:00"
                procs="1"
                memory="1"    
    }
    strandBigWig {
		walltime="03:00:00"
                procs="4"
                memory="2" 
    }
}
