//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: ssayolsp At: Di 11 Nov 2014 19:04:31 CET
executor="lsf"
queue="short"
commands {
   FastQC {
	walltime="2:00"
	procs=1
	lsf_request_options="-app Reserve2G -J FastQC"
   }
   Cutadapt {
	walltime="2:00"
	procs=1
	lsf_request_options="-app Reserve4G -J Cutadapt"
   }
   FastQQualityFilter {
	walltime="2:00"
	procs=1
	lsf_request_options="-app Reserve4G -J FastQQualityFilter"
   }
   FilterDuplicates {
	walltime="2:00"
	procs=1
	lsf_request_options="-app Reserve4G -J FilterDuplicates"
   }
   Bowtie_se {
	walltime="4:00"
	procs=8
	lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J bowtie"
   }
   BAMindexer {
	walltime="1:00"
	procs=1
	lsf_request_options="-app Reserve1G -J BAMindexer"
   }
   DedupStats {
	walltime="1:00"
	procs=1
	lsf_request_options="-app Reserve1G -J DedupStats"
   }
   CombinedStats {
	walltime="1:00"
	procs=1
	lsf_request_options="-app Reserve1G -J CombinedStats"
   }
   MappingStats {
	walltime="2:00"
	procs=1
	lsf_request_options="-app Reserve4G -J MappingStatsPlot"
   }
   bam2bw {
	walltime="1:00"
	procs=1
	lsf_request_options="-app Reserve2G -J bam2bw"
   }
   miRDeep2Mapper {
	walltime="4:00"
	procs=8
	lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J MirDeep2Mapper"
   }
   miRDeep2 {
	walltime="4:00"
	procs=2
	lsf_request_options="-R 'span[ptile=2]' -app Reserve2G -J mirDeep2"
   }
   SubreadCount {
	walltime="1:00"
	procs=4
	lsf_request_options="-R 'span[ptile=4]' -app Reserve300M -J subread_count"
   }
   rnatypes {
	walltime="0:10"
	procs=4
        lsf_request_options="-R 'span[ptile=4]' -app Reserve300M -J rnatypes"
   }
   CutadaptStats {
	walltime="1:00"
	procs=1
        lsf_request_options="-app Reserve1G -J CutadaptStats"
   }
   FastQQualityFilterStats {
	walltime="1:00"
	procs=1
        lsf_request_options="-app Reserve1G -J FastQQualityFilterStats"
   }
   Filter2HTSeq {
	walltime="1:00"
	procs=1
	lsf_request_options="-app Reserve300M -J Filter2HTSeq"
   }
   TrimUMIs {
	walltime="1:00"
	procs=1
	lsf_request_options="-app Reserve2G -J TrimUMIs"
   }
   FastQScreen {
	walltime="1:00"
	procs=4
        lsf_request_options="-R 'span[ptile=4]' -app Reserve1G -J FastQScreen"
   }
   collectBpipeLogs {
	walltime="0:10"
	procs=1
	lsf_request_options="-app Reserve300M -J collectBpipeLogs"
   }
}
