//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: ssayolsp At: Di 11 Nov 2014 19:04:31 CET
executor="slurm"
queue="short"
commands {
   FastQC {
	        walltime="02:00:00"
                procs="1"
                memory="2"
   }
   Cutadapt {
	        walltime="02:00:00"
                procs="1"
		memory="4"
   }
   FastQQualityFilter {
	        walltime="02:00:00"
                procs="1"
		memory="4"
   }
   FilterDuplicates {
	        walltime="02:00:00"
                procs="1"
		memory="4"
   }
   Bowtie_se {
	        walltime="02:00:00"
                procs="8"
                options="--mem-per-cpu=2000"
   }
   BAMindexer {
	        walltime="01:00:00"
                procs="1"
		memory="1"
   }
   DedupStats {
	        walltime="01:00:00"
                procs="1"
		memory="4"
   }
   CombinedStats {
	        walltime="01:00:00"
                procs="1"
		memory="4"
   }
   MappingStats {
	        walltime="02:00:00"
                procs="1"
		memory="4"
   }
   bam2bw {
	        walltime="01:00:00"
                procs="1"
		memory="2"
   }
   miRDeep2Mapper {
	        walltime="04:00:00"
                procs="8"
		memory="2"
   }
   miRDeep2 {
	        walltime="02:00:00"
                procs="2"
		memory="2"
   }
   SubreadCount {
	        walltime="01:00:00"
                procs="4"
		options="--mem-per-cpu=300"
   }
   rnatypes {
	        walltime="0:10:00"
                procs="4"
		options="--mem-per-cpu=1000" 	
   }
   CutadaptStats {
	        walltime="01:00:00"
                procs="1"
		memory="1"	
   }
   FastQQualityFilterStats {
	        walltime="01:00:00"
                procs="1"
		memory="1"
   }
   Filter2HTSeq {
	        walltime="01:00:00"
                procs="1"
		memory="1"
   }
   TrimUMIs {
	        walltime="01:00:00"
                procs="1"
                memory="2" 
   }
   FastQScreen {
	        walltime="01:00:00"
                procs="4"
                options="--mem-per-cpu=2000"
   }
   collectBpipeLogs {
	        walltime="00:10:00"
                procs="1"
		memory="1"
   }
}
