//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="lsf"
queue="short"
commands {
	FastQC {
		lsf_request_options="-W2:00 -n1 -app Reserve2G -J FastQC"
	}
	STAR_se {
		lsf_request_options="-W4:00 -R 'span[ptile=8]' -n8 -app Reserve6G -J star"
	}
	BAMindexer {
		lsf_request_options="-W1:00 -n1 -app Reserve1G -J BAMindexer"
	}
	htseq_count {
		lsf_request_options="-W4:00 -R 'span[ptile=4]' -n4 -app Reserve4G -J htseq_count"
	}
	subread_count {
		lsf_request_options="-W0:30 -R 'span[ptile=4]' -n4 -app Reserve300M -J subread_count"
	}
	bam2bw {
		lsf_request_options="-W1:00 -n1 -app Reserve2G -J bam2bw"
	}
	MarkDups {
		lsf_request_options="-W4:00 -n1 -app Reserve50G -J MarkDups"
	}
	dupRadar {
		lsf_request_options="-W2:00 -n4 -R 'span[ptile=4]' -app Reserve1G -J dupRadar"
	}
	geneBodyCov {
		lsf_request_options="-W2:00 -n1 -app Reserve1G -J geneBodyCoverage"
	}
	inferexperiment {
		lsf_request_options="-W2:00 -n1 -app Reserve1G -J inferexperiment"
	}
	RNAtypes {
		lsf_request_options="-W1:00 -n4 -R 'span[ptile=4]' -app Reserve10G -J RNAtypes"
	}
	DE_edgeR {
		lsf_request_options="-W1:00 -n1 -app Reserve6G -J DE.edgeR"
	}
	DE_DESeq2 {
		lsf_request_options="-W1:00 -n1 -app Reserve1G -J DE.DESeq2"
	}
	collectBpipeLogs {
		lsf_request_options="-W0:05 -n1 -app Reserve300M -J collectBpipeLogs"
	}
}
