// Slurm workload manager resource reservation based on ESSENTIAL_THREADS variable set to 4 threads
executor="slurm"
queue="short"
commands {
    FastQC {
        walltime="02:00:00"
        procs="1"
        memory="2"
    }
    STAR {
        walltime="04:00:00"
        procs="4"
        memory="48"
    }
    BAMindexer {
        walltime="01:00:00"
        procs="1"
        memory="1"
    }
    InsertSize {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    subread_count {
        walltime="00:30:00"
        procs="4"
        memory="4"
    }
    bamCoverage {
        walltime="03:00:00"
        procs="8"
        memory="8"
    }
    filter2htseq {
        walltime="00:30:00"
        procs="1"
        memory="1"
    }
    geneBodyCov2 {
        walltime="01:00:00"
        procs="4"
        memory="16"
    }
    bam2bw {
        walltime="01:00:00"
        procs="1"
        memory="8"
    }
    MarkDups {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    MarkDups2 {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    dupRadar {
        walltime="02:00:00"
        procs="4"
        memory="1"
    }
    inferexperiment {
        walltime="02:00:00"
        procs="1" 
        memory="4"
    }
    qualimap {
        walltime="04:00:00"
        procs="1"
        memory="10"
    }
    subread2rnatypes {
        walltime="00:10:00"
        procs="4"
        memory="1"
    }
    FilterChr {
        walltime="02:00:00"
        procs="4"
        memory="1"
    }
    DE_edgeR {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    DE_DESeq2 {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    DE_DESeq2_MM {
        walltime="01:00:00"
        procs="1"
        memory="4"
    }
    GO_Enrichment {
        walltime="01:00:00"
        procs="4"
        memory="4"
    }
    trackhub_config {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    trackhub {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    collectBpipeLogs {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
    shinyReports {
        walltime="00:05:00"
        procs="1"
        memory="1"
    }
}


