//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="slurm"
queue="short"
commands {
    FastQC {
	        walltime="02:00:00"
                procs="1"
                options="--mem-per-cpu=2000" 
    }
    STAR_se {
		walltime="04:00:00"
                procs="4"
                memory="40"
                options="--mem-per-cpu=10000"
    }
    BAMindexer {
	        walltime="01:00:00"
                procs="1"
                options="--mem-per-cpu=1000" 
    }
    htseq_count {
		walltime="04:00:00"
                procs="4"
                options="--mem-per-cpu=4000" 
    }
    subread_count {
		walltime="00:30:00"
                procs="4"
                options="--mem-per-cpu=300" 
    }
    bam2bw {
                walltime="01:00:00"
                procs="1"
		memory="8"
                options="--mem-per-cpu=2000"
    }
    MarkDups {
	        walltime="04:00:00"
                procs="1"
                memory="50" 
    }
    MarkDups2 {
	        walltime="04:00:00"
                procs="1"
                memory="2" 
    }
    dupRadar {
	        walltime="02:00:00"
                procs="4"
    }
    geneBodyCov {
		walltime="05:00:00"
                procs="1" 
    }
    inferexperiment {
		walltime="02:00:00"
                procs="1" 
    }
    qualimap {
	        walltime="04:00:00"
                procs="1"
                memory="10"   
    }
    RNAtypes {
		walltime="01:00:00"
                procs="4"
                memory="4" 
    }
    rnatypes {
		walltime="00:10:00"
                procs="4"
                memory="1" 
    }
    geneBodyCov2 {
		walltime="01:00:00"
                procs="4"
                memory="6" 
    }
    DE_edgeR {
	        walltime="01:00:00"
                procs="1"
                memory="6" 
    }
    DE_DESeq2 {
		walltime="01:00:00"
                procs="1"
                memory="3" 
    }
    GO_Enrichment {
		walltime="01:00:00"
                procs="4"
                options="--mem-per-cpu=1000" 
    }
    collectBpipeLogs {
		walltime="00:05:00"
                procs="1"
                memory="1"    
    }
}
