//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: ssayolsp At: Di 11 Nov 2014 19:04:31 CET
executor="lsf"
queue="short"
commands {
    FastQC {
        walltime="2:00"
        procs=1
        lsf_request_options="-app Reserve2G -J FastQC"
    }
    bowtie2_pe {
	    queue="long"
	    walltime="12:00"
	    procs=4
	    lsf_request_options="-q long -W12:00 -R 'span[hosts=1]' -app Reserve4G -J bowtie2"
    }
    filbowtie2unique{
	    walltime="5:00"
	    procs=4
		lsf_request_options="-W5:00 -n4 -R 'span[hosts=1]' -app Reserve1G -J bowtie2unique"
    }
    InsertSize {
	    procs=1
	    lsf_request_options="-W4:00 -n1 -app Reserve50G -J InsertSize"
    }
    bamCoverage {
	    procs=4
		lsf_request_options="-W3:00 -n4 -R 'span[ptile=4]' -app Reserve2G -J bamCoverage"
	}
    BAMindexer {
        walltime="1:00"
        procs=1
        lsf_request_options="-app Reserve1G -J BAMindexer"
    }
    MarkDups {
        walltime="4:00"
        procs=1
	lsf_request_options="-app Reserve20G -J MarkDups"
    }
    ipstrength {
        walltime="2:00"
        procs=2
        lsf_request_options="-n2 -R 'span[ptile=2]' -app Reserve2G -J ipstrength"
    }
    phantompeak {
        walltime="5:00"
        procs=8
        lsf_request_options="-n8 -R 'span[ptile=8]' -app Reserve2G -J phantompeak"
    }
    pbc {
        walltime="2:00"
        procs=1
        lsf_request_options="-app Reserve4G -J pbc"
    }
    macs2 {
        queue="short"
        walltime="4:00"
        procs=1
        lsf_request_options="-app Reserve2G -J macs2"
    }
    collectBpipeLogs {
        walltime="0:05"
        procs=1
        lsf_request_options="-app Reserve300M -J collectBpipeLogs"
    }
    shinyReports {
        walltime="0:05"
        procs=1
        lsf_request_options="-app Reserve300M -J shinyReports"
    }
}
