//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: ssayolsp At: Di 11 Nov 2014 19:04:31 CET
executor="slurm"
queue="short"
commands {
  FastQC {
    walltime="02:00:00"
    procs="1"
    memory="2"
  }
  bowtie2_pe {
    queue="long"
    walltime="24:00:00"
    procs="4"
    memory="24"
  }
  filbowtie2unique {
    walltime="05:00:00"
    procs="4"
    memory="8"
  }
  InsertSize {
    walltime="04:00:00"
    procs="1"
    memory="10"
  }
  bamCoverage {
    walltime="03:00:00"
    procs="4"
    memory="16"
  }
  BAMindexer {
    walltime="01:00:00"
    procs="1"
    memory="1"
  }
  RmDups { 
    walltime="02:00:00"
    procs="1"
    memory="8"
  }
  BamQC {
    walltime="02:00:00"
    procs="1"
    memory="2"
  }
  MarkDups {
     walltime="04:00:00"
     procs="1"
     memory="20"
  }
  ipstrength {
    walltime="02:00:00"
    procs="1"
    memory="32"
  }
  phantompeak {
    walltime="05:00:00"
    procs="8"
    memory="16"
  }
  pbc {
    walltime="02:00:00"
    procs="1"
    memory="16"
  }
  macs2 {
    walltime="04:00:00"
    procs="1"
    memory="8"
  }
  blacklist_filter {
    walltime="01:00:00"
    procs="1"
    memory="1"
  }
  peak_annotation {
     walltime="02:00:00"
     procs="1"
     memory="8"    
   }   
  GREAT {
     walltime="01:00:00"
     procs="1"
     memory="1"
   }
  diffbind {
    walltime="01:00:00"
    procs="4"
    memory="24"
  }
  trackhub_config {
    walltime="00:05:00"
    procs="1"
    memory="1"
  }
  trackhub {
    walltime="00:05:00"
    procs="1"
    memory="1"
  }
  MultiQC {
    walltime="01:00:00"
    procs="1"
    memory="1"
  }
  collectBpipeLogs {
    walltime="00:05:00"
    procs="1"
    memory="1"
  }
  shinyReports {
    walltime="00:05:00"
    procs="1"
    memory="1"
  }
}
