//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="lsf"
queue="short"
commands {
	FastQC {
		walltime="2:00"
                procs=1
		lsf_request_options="-app Reserve2G -J FastQC"
	}
	BWA_pe {
		walltime="2:00"
                procs=8
		lsf_request_options="-R 'span[ptile=8]' -app Reserve1G -J bwa"
	}
	BAMindexer {
                walltime="1:00"
                procs=1
		lsf_request_options="-app Reserve1G -J BAMindexer"
	}
	RmDups {
                walltime="4:00"
                procs=1
		lsf_request_options="-app Reserve50G -J MarkDups"
	}
	IndelRealignment {
                walltime="2:00"
                procs=8
		lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J IndelRealignment"
	}
	BaseRecalibration {
                walltime="2:00"
                procs=8
		lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J BaseRecalibration"
	}
	VariantCallHC {
                walltime="5:00"
                procs=2
		lsf_request_options="-R 'span[ptile=2]' -app Reserve6G -J VariantCallHC"
	}
	VariantFuseHC {
                walltime="5:00"
                procs=2
		lsf_request_options="-R 'span[ptile=2]' -app Reserve6G -J VariantFuseHC"
	}
	VariantCallUG {
                walltime="5:00"
                procs=8
		lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J VariantCallUG"
	}
	VariantEval {
                walltime="1:00"
                procs=8
		lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J VariantEval"
	}

	collectBpipeLogs {
                walltime="0:05"
                procs=1
		lsf_request_options="-app Reserve300M -J collectBpipeLogs"
	}
}
