//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="slurm"
queue="short"
commands {
  FastQC {
    walltime="02:00:00"
    procs=1
    memory="4G"
  }
  BWA_pe {
    walltime="24:00:00"
    queue="bcflong"
    procs=16
    memory="32G"
  }
  BAMindexer {
    walltime="01:00:00"
    procs=1
    memory="1G"
  }
  RmDups {
    walltime="24:00:00"
    queue="bcflong"
    procs=1
    memory="50G"
  }
  IndelRealignment {
    walltime="24:00:00"
    queue="bcflong"
    procs=8
    memory="50G"
  }
  BaseRecalibration {
    walltime="24:00:00"
    queue="bcflong"
    procs=8
    memory="50G"
  }
  VariantCallHC {
    walltime="24:00:00"
    queue="bcflong"
    procs=2
    memory="20G"
  }
  VariantFuseHC {
    walltime="24:00:00"
    queue="bcflong"
    procs=2
    memory="20G"
  }
  VariantCallUG {
    walltime="24:00:00"
    queue="bcflong"
    procs=8
    memory="20G"
  }
  VariantEval {
    walltime="24:00:00"
    queue="bcflong"
    procs=8
    memory="20G"
  }
  collectBpipeLogs {
    walltime="00:05:00"
    procs=1
    memory="1G"
  }
}
