//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="lsf"
queue="short"
commands {
	FastQC {
		lsf_request_options="-W2:00 -R 'span[ptile=4]' -n4 -app Reserve300M -J FastQC"
	}
	BWA_pe {
		lsf_request_options="-W2:00 -R 'span[ptile=8]' -n8 -app Reserve1G -J bwa"
	}
	BAMindexer {
		lsf_request_options="-W1:00 -n1 -app Reserve1G -J BAMindexer"
	}
	MarkDups {
		lsf_request_options="-W4:00 -n1 -app Reserve50G -J MarkDups"
	}
	IndelRealignment {
		lsf_request_options="-W2:00 -R 'span[ptile=8]' -n8 -app Reserve2G -J IndelRealignment"
	}
	BaseRecalibration {
		lsf_request_options="-W2:00 -R 'span[ptile=8]' -n8 -app Reserve2G -J BaseRecalibration"
	}
	VariantCallHC {
		lsf_request_options="-W5:00 -R 'span[ptile=2]' -n2 -app Reserve6G -J VariantCallHC"
	}
	VariantFuseHC {
		lsf_request_options="-W5:00 -R 'span[ptile=2]' -n2 -app Reserve6G -J VariantFuseHC"
	}
	VariantCallUG {
		lsf_request_options="-W5:00 -R 'span[ptile=8]' -n8 -app Reserve2G -J VariantCallUG"
	}
	VariantEval {
		lsf_request_options="-W1:00 -R 'span[ptile=8]' -n8 -app Reserve2G -J VariantEval"
	}

	collectBpipeLogs {
		lsf_request_options="-W0:05 -n1 -app Reserve300M -J collectBpipeLogs"
	}
}
