executor="slurm"
queue="short"
commands {
  FastQC {
    walltime="02:00:00"
    procs="1"
    memory="3"
  }
  STAR_pe {
    walltime="04:00:00"
    procs="4"
    memory="40"
  }
  BAMindexer {
    walltime="01:00:00"
    procs="1"
    memory="1"
  }
  FilterAndMergeSJtab {
    walltime="01:00:00"
    procs="1"
    memory="1"
  }
  GenerateStarIndexFromSJ {
    walltime="04:00:00"
    procs="8"
    memory="40"
  }
  STAR_pe_2nd {
    walltime="04:00:00"
    procs="8"
    memory="40"
  }
  AddRG {
    walltime="04:00:00"
    procs="1"
    memory="50"
  }
  MarkDups {
    walltime="04:00:00"
    procs="1"
    memory="50"
  }
  SplitNCigarReads {
    walltime="04:00:00"
    procs="8"
    memory="20"
  }
  BaseRecalibration {
    walltime="05:00:00"
    procs="8"
    memory="20"
  }
  VariantCallHC {
    walltime="05:00:00"
    procs="8"
    memory="20"
  }
  VariantFiltration {
    walltime="02:00:00"
    procs="8"
    memory="20"
  }
}
