//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="slurm"
queue="short"
commands {
	FastQC {
	        walltime="02:00:00"
                procs="1"
                options="--mem-per-cpu=3000" 
	}
	STAR_pe {
		walltime="04:00:00"
                procs="4"
                options="--mem-per-cpu=10000"
        }
        BAMindexer {
	        walltime="01:00:00"
                procs="1"
                options="--mem-per-cpu=1000" 
        }
        FilterAndMergeSJtab {
	        walltime="01:00:00"
                procs="1"
                options="--mem-per-cpu=1000" 
        }
        GenerateStarIndexFromSJ {
	       walltime="04:00:00"
               procs="8"
               options="--mem-per-cpu=6000"
        }
        STAR_pe_2nd {
	       walltime="04:00:00"
               procs="8"
               options="--mem-per-cpu=6000"
        }
        AddRG {
               walltime="04:00:00"
               procs="1"
               options="--mem-per-cpu=50000"
        }
        MarkDups {
	       walltime="04:00:00"
               procs="1"
               options="--mem-per-cpu=50000"
        }
        SplitNCigarReads {
	      procs="8"
              options="--mem-per-cpu=3000"
        }
        BaseRecalibration {
 	      procs="8"
              options="--mem-per-cpu=3000"
        }
        VariantCallHC {
	      procs="8"
              options="--mem-per-cpu=3000"
        }
        VariantFiltration {
	      walltime="02:00:00"
              procs="8"
              options="--mem-per-cpu=3000"
   }
}
