//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=1 --force
//By: ssayolsp At: Fr 17 Okt 2014 17:12:41 CEST
executor="lsf"
queue="short"
commands {
	FastQC {
		lsf_request_options="-W2:00 -R 'span[ptile=4]' -n4 -app Reserve3G -J FastQC"
	}
	STAR_pe {
      lsf_request_options="-W4:00 -R 'span[ptile=8]' -n8 -app Reserve6G -J star"
   }
   BAMindexer {
      lsf_request_options="-W1:00 -n1 -app Reserve1G -J BAMindexer"
   }
   FilterAndMergeSJtab {
      lsf_request_options="-W1:00 -n1 -app Reserve300M -J MergeSJtab"
   }
   GenerateStarIndexFromSJ {
      lsf_request_options="-W4:00 -R 'span[ptile=8]' -n8 -app Reserve6G -J starIndex"
   }
   STAR_pe_2nd {
      lsf_request_options="-W4:00 -R 'span[ptile=8]' -n8 -app Reserve6G -J star2nd"
   }
AddRG {
		lsf_request_options="-W4:00 -n1 -app Reserve50G -J AddRG"
	}
MarkDups {
      lsf_request_options="-W4:00 -n1 -app Reserve50G -J MarkDups"
   }
SplitNCigarReads {
      queue="long"
      lsf_request_options="-W8:00 -R 'span[ptile=8]' -n8 -app Reserve3G -J SplitNCigarReads"
   }
BaseRecalibration {
      queue="long"
      lsf_request_options="-W8:00 -R 'span[ptile=8]' -n8 -app Reserve3G -J BaseRecalibration"
   }
VariantCallHC {
      queue="long"
      lsf_request_options="-W8:00 -R 'span[ptile=8]' -n8 -app Reserve3G -J VariantCallHC"
   }
VariantFiltration {
      lsf_request_options="-W2:00 -R 'span[ptile=8]' -n8 -app Reserve3G -J VariantCallHC"
   }
}
