executor="lsf"
queue="short"
commands {
   FastQC {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve2G -J FastQC"
   }
   Cutadapt {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve4G -J Cutadapt"
   }
   FastQQualityFilter {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve4G -J FastQQualityFilter"
   }
   FastxTrimmer {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve4G -J FastQQualityFilter"
   }
   FilterDuplicates {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve4G -J FilterDuplicates"
   }
   Bowtie_se {
      walltime="4:00"
      procs=8
      lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J bowtie"
   }
   RepEnrich {
      procs=8
      lsf_request_options="-R 'span[ptile=8]' -app Reserve700M -J RepEnrich"
   }
   BAMindexer {
      walltime="1:00"
      procs=1
      lsf_request_options="-app Reserve1G -J BAMindexer"
   }
   DedupStats {
      walltime="1:00"
      procs=1
      lsf_request_options="-app Reserve1G -J DedupStats"
   }
   MappingStatsPlot {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve4G -J MappingStatsPlot"
   }
   CountReads {
      walltime="2:00"
      procs=1
      lsf_request_options="-app Reserve4G -J CountReads"
   }
   HTseqCount {
      walltime="4:00"
      procs=1
      lsf_request_options="-app Reserve4G -J htseq_count"
     }
   CountReadsSummary {
      queue="long"
      procs=1
      lsf_request_options="-app Reserve50G -J CountReadsSummary"
   }
   SplitReadStrands {
      walltime="2:00"
      procs=8
      lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J SplitReadStrands"
   }
   SelectUniqMappers {
      walltime="4:00"
      procs=8
      lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J SelectUniqMappers"
   }
   SelectUnMapped {
      walltime="4:00"
      procs=8
      lsf_request_options="-R 'span[ptile=8]' -app Reserve1G -J SelectUnMapped"
   }
   Bam2bw {
      walltime="1:00"
      procs=1
      lsf_request_options="-app Reserve2G -J bam2bw"
   }
   CatFastQ {
      queue="long"
      procs=1
      lsf_request_options="-app Reserve2G -J CatFastQ"
   }
   Bam2FastQ {
      queue="long"
      procs=1
      lsf_request_options="-app Reserve2G -J Bam2FastQ"
   }
   NucleotideSignature {
      procs=1
      lsf_request_options="-app Reserve25G -J NucleotideSignature"
   }
   PingPongSignal {
      procs=1
      lsf_request_options="-app Reserve25G -J PingPongSignal"
   }
   PingPongPro {
      procs=1
      lsf_request_options="-app Reserve2G -J PingPongPro"
   }
   TrimUMIs {
      procs=1
      lsf_request_options="-app Reserve2G -J TrimUMIs"
   }
   MirDeep2Mapper {
      walltime="4:00"
      procs=8
      lsf_request_options="-R 'span[ptile=8]' -app Reserve2G -J MirDeep2Mapper"
   }
   MirDeep2 {
      walltime="4:00"
      procs=2
      lsf_request_options="-R 'span[ptile=2]' -app Reserve2G -J mirDeep2"
   }
   CollectPlots {
      walltime="1:00"
      procs=1
      lsf_request_options="-app Reserve2G -J CollectPlots"
   }
   FilterRNAClasses {
      procs=1
      lsf_request_options="-app Reserve1G -J FilterRNAClasses"
   }
   SubReadCount {
      walltime="0:30"
      procs=4
      lsf_request_options="-R 'span[ptile=4]' -app Reserve300M -J SubReadCount"
   }
      CountReadLengths {
      walltime="3:00"
      procs=1
      lsf_request_options="-app Reserve300M -J CountReadLengths"
   }
      PlotReadLengths {
      procs=1
      lsf_request_options="-app Reserve2G -J PlotReadLengths"
   }
      CountNonStrutReads {
      walltime="3:00"
      procs=1
      lsf_request_options="-n1 -app Reserve1G -J CountNonStrutReads"
   }
}
