//Pipeline generated with command line: ./imb-pip.pl --tasks-pip=2 --force
//By: ssayolsp At: Di 11 Nov 2014 19:04:31 CET
executor="lsf"
queue="short"
commands {
   FastQC {
      lsf_request_options="-W2:00 -R 'span[ptile=4]' -n4 -app Reserve3G -J FastQC"
   }
   Cutadapt {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve4G -J Cutadapt"
   }
   FastQQualityFilter {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve4G -J Cutadapt"
   }
   FilterDuplicates {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve4G -J FilterDuplicates"
   }
   Bowtie_se {
      lsf_request_options="-W4:00 -R 'span[ptile=8]' -n8 -app Reserve2G -J bowtie"
   }
   BAMindexer {
      lsf_request_options="-W1:00 -n1 -app Reserve1G -J BAMindexer"
   }
   DedupStats {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve4G -J DedupStats"
   }
   MappingStatsPlot {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve4G -J MappingStatsPlot"
   }
   CountReads {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve2G -J CountReads"
   }
   CountReadsSummary {
      lsf_request_options="-W2:00 -R 'span[ptile=1]' -n1 -app Reserve6G -J CountReadsSummary"
   }
   SplitReadStrands {
      lsf_request_options="-W2:00 -R 'span[ptile=8]' -n8 -app Reserve1G -J SplitReadStrands"
   }
   bam2bw {
      lsf_request_options="-W1:00 -n1 -app Reserve2G -J bam2bw"
   }
   NucleotideSignature {
      lsf_request_options="-W1:00 -n1 -app Reserve25G -J NucleotideSignature"
   }
   PingPongSignal {
      lsf_request_options="-W1:00 -n1 -app Reserve25G -J PingPongSignal"
   }
   PingPongPro {
      lsf_request_options="-W1:00 -n1 -app Reserve2G -J PingPongPro"
   }
   TrimUMIs {
      lsf_request_options="-W1:00 -n1 -app Reserve2G -J TrimUMIs"
   }
   MirDeep2Mapper {
      lsf_request_options="-W4:00 -R 'span[ptile=8]' -n8 -app Reserve2G -J MirDeep2Mapper"
   }
   MirDeep2 {
      lsf_request_options="-W4:00 -R 'span[ptile=2]' -n2 -app Reserve2G -J mirDeep2"
   }
   CollectPlots {
      lsf_request_options="-W1:00 -n1 -app Reserve2G -J CollectPlots"
   }
}
